header{
    background: linear-gradient(90deg, rgba(5,93,177,1) 31%, rgba(0,212,255,1) 100%);
    padding-bottom: 30px;
    border: solid #055db1 2px;
}   

nav ul li
{
text-decoration: none;
display: inline;
font-size: 1.3em;
margin-left: 6em;
    a{
    justify-content: space-between;
    color: white;
    }

}

*